.inst{
    height: 400px;
    width: 300px;
    margin: auto;
    background-color: #ffffff;
    padding: 40px;
    border: 0.5px solid;
    border-radius: 5px;
    
}
.inst-img{
    background-image: url('https://static.cdninstagram.com/rsrc.php/v3/ys/r/WBLlWbPOKZ9.png');
    background-position: 0px 0px;
    background-size: 176px 264px;
    width: 174px;
    height: 50px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 20%;
    margin-bottom: 40px;
}
input{
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
}
button{
    width: 100%;
    padding: 10px 30px;
    background-color: #4cb5f9;
    border-radius: 8px;
}
button:hover{
    cursor: pointer;
}
.inst a{
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 35px;
}
.div1 p{
    display: inline;
    margin: auto;
}
.div1 a{
    text-decoration: none;
  
   color: #4cb5f9;

}

.div1{
    height: 10px;
    width: 300px;
    margin: auto;
    background-color: #ffffff;
    padding: 40px;
    border: 0.5px solid;
    margin-top: 20px;
    border-radius: 5px;
}