
    div{
        height: 600px;
        width: 80%;
       background-color: antiquewhite;
       border:10px solid grey;
       margin:30px;
       margin-left:130px;
    }
    h1{
       
       
        padding: 20px;
        padding-left: 30%;
        border:5px solid salmon;
        margin-left:20px;
        margin-right:20px;
    }

    p{
        height: 100px;
        width: 100px;
        background-color: rgb(172, 172, 206);
        margin-left: 100px;
        margin-top: 30px;
        padding: 20px;
        border:7px groove greenyellow;
    }
section{
    height: 100px;
    background-color: cadetblue;
}