
img{
    height: 200px;
    width: 200px;
    border-radius: 20px 70px;
    border-style: solid;
    
}
img[alt="rubueautiful"]{
    border-radius: 98% 1% 1% 0%;

}
img[alt="women"]{
   
    border-radius:90% 90% 30% 30% ;
}
img[alt="women1"]{
   
    border-radius:10% 90% 90% 10%;
}
img[alt="flower"]{
   
    border-radius:1% 98% 1% 1%;
}
img[alt="mountain"]{
   
    border-radius:90% 30% 30% 90%;
}
img[alt="parrot"]{
   
    border-radius:50% ;
}
img[alt~="waterflowers"]{
   
    border-radius:30% 30% 90% 90%  ;
}
img[alt="waterfall"]{
   
    border-radius:1% 1% 1% 98% ;
}
img[alt="greentree"]{
   
    border-radius:1% 1% 98% 1% ;
}
img[alt="waterbodytrees"]{
   
    border-radius:1%;
}
img[alt="australiaparrot"]{
    border-radius:98% 10% 10% 10% ;
}

button{
    height: 100px;
    width: 100px;
    border-radius: 50%; border-style: solid;
    background-color: crimson;
    font-size: medium;
}
div{
    height: 300px;
    width: 300px;
    background-color: wheat;
    border-radius: 50%; border-style: solid;
}
section{
    height: 300px;
    width: 300px;
    background-color: maroon;
    border-radius:70% 35% 12% 38%;
     border-style: solid;
}