.main{
    padding:5px 30px;
    border: 1px chocolate solid;
    
}
h1{
    margin-left: 40%;
}
.div1 {
    padding-left: 10%;
    
}
.div1 label:hover{
    background-color: chocolate;
    border-radius: 15px;
}
.div1 label{
    padding: 7px 2px;
    margin-right: 50px;
}
.div2{
    border: 3px solid coral;
    border-radius: 5px;
    padding: 10px;
}
input[placeholder="Enter your Institute"]{
    width: 95%;
    padding: 10px 20px;
    border-radius: 10px;
}
.div2-1 label{
     margin-right: 150px;
}
.div2-2 input{
    margin-right: 100px;
    height: 30px;
    width: 100px;
    border-radius: 7px;
}
.div3{
    margin: auto;
    margin-top: 30PX;
    margin-bottom: 30PX;
}
.div3 input{
    margin-left: 30%;
   
}
.div3 p{
    display: inline;
    font-size: large;
}
.div4 input,.div5 input,.div5 select{
    padding: 10PX 20PX;
    width: 26%;
    margin-right: 40PX;
    margin-bottom: 30px;
    border-radius: 7px;
}

button{
    background-color: coral;
    padding:15px 50px;
    border-radius: 9px;
    display: block;
    margin: auto;
    font-weight: bolder;
}
